body{
    	background-image:url("bubbles-blue-pink-background_23-2147876008.jpg");
        background-position: center;
        background-size: cover;
}
#blackpink{
	background:linear-gradient(pink 0% , lightblue 100%);
	color:rgb(175, 94, 175) !important;
	border-spacing: 10px;
    border-radius:40px;
	border-style:solid;
	border-color:white;
	border-width: 6px;
}
#rose{
	background:linear-gradient(pink 0% , lightblue 100%);
	color:rgb(175, 94, 175) !important;
	border-spacing: 10px;
    border-radius:40px;
	border-style:solid;
	border-color:white;
	border-width: 6px;
}
label{
	font-size:20px;
    color: rgb(175, 94, 175) !important;
}
h2{
    color: rgb(175, 94, 175) !important;
}
#submit{
	font-size: 30px;
	background:linear-gradient(pink 0% , lightblue 100%);
	color:rgb(175, 94, 175) !important;
	border-spacing: 10px;
    border-radius: 13px;
	border-style:solid;
	border-color:white;
	border-width: 4px;
}
#the{
	background:linear-gradient(pink 0% , lightblue 100%);
	color:rgb(175, 94, 175) !important;
	border-spacing: 10px;
	border-radius:40px;
	border-style:solid;
	border-color:white;
	border-width: 6px;
	width:87%;
}
p{
    font-size:20px;
    color: rgb(175, 94, 175) !important;
}
h2{
	color: rgb(175, 94, 175) !important;
}
#check{
	font-size: 30px;
	background:linear-gradient(pink 0% , lightblue 100%);
	color:rgb(175, 94, 175) !important;
	border-spacing: 10px;
	border-radius: 13px;
	border-style:solid;
	border-color:white;
	border-width: 4px;
	}
h4{
	color: rgb(175, 94, 175) !important;
	}
h3{
	color: rgb(175, 94, 175) !important;
}
#player1_name{
	color: rgb(175, 94, 175) !important;
}
#player2_name{
	color: rgb(175, 94, 175) !important;
}
#player1_score{
	color: rgb(175, 94, 175) !important;
}
#player2_score{
	color: rgb(175, 94, 175) !important;
}
